<!--
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создание профиля</title>
    <link rel="stylesheet" href="../styles/CreateProfile.css">
</head>
<div class="create-profile-container">
    <h2>Создание профиля</h2>
    <form id="create-profile-form" class="create-profile-form">
        <div class="form-group">
            <label>Имя:</label>
            <input type="text" name="name" placeholder="Введите имя" required />
        </div>

        <div class="form-group">
            <label>Фамилия:</label>
            <input type="text" name="surname" placeholder="Введите фамилию" required />
        </div>

        <div class="form-group">
            <label>Username:</label>
            <input type="text" name="username" placeholder="Введите username" required />
        </div>

        <div class="form-group">
            <label>Email:</label>
            <input type="email" name="email" placeholder="Введите email" required />
        </div>

        <div class="form-group">
            <label>Дата рождения:</label>
            <input type="date" name="birthDate" required />
        </div>

        <button type="submit" class="create-profile-button">
            Создать профиль
        </button>
    </form>
</div>-->
