.user-profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.profile-info div {
    margin-bottom: 10px;
    font-size: 16px;
}

.profile-photo {
    max-width: 150px;
    border-radius: 50%; /* Круглое фото */
    margin-top: 10px;
}